.ot_admin_form{
  width: 50%;
  .ot_remove_width{
    width: auto !important;
    margin-left: 6%;
  }
  .ot_slider{
    margin-left: 6%;
  }
  #ot_posts_per_page_div{
      margin-left: 6%;
  }
  label{
    width: 15%;
    text-align: right;
    display: inline-block;
  }
  input[type=text]{
    width: 40%;
    display: inline-block;
  }
  .description{
    width: 40%;
    display: inline-block;
  }
  input[type=submit]{
    margin-left: 6%;
  }
}
.ui-accordion-header-icon{
  display: none;
}
.ot_space_filter_buttons{
  margin-left: 1%;
  margin-top: 5px;
}
.ot_pagination_buttons{
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}